<%= form_for [@player, @round] do |f| %>
	<%= f.label :course %>
	<%= f.collection_select(:course_id, @courses, :id, :name) %>

	<%#<%= f.label :tee %>
	<%= f.label(:tee, "Tee Colour", :data => {:colour => "copper", :colour => "blue"}) %>
	<%= f.collection_select(:tee_id, @tees, :id, :colour) %> 

	<%= f.label :round_length, 9 %>
	<%= f.radio_button(:round_length, 9)%></br>

	<%= f.label :round_length, 18 %>
	<%= f.radio_button(:round_length, 18)%></br>


	<%= f.label :start_hole %>
	<%= f.number_field :start_hole %>
	
	<%= f.hidden_field :player_id, :value => player.id %>


	<%= f.submit %> 
<% end %>

<!-- <select id= "course-selector"></select>

<div class="hide" data-options-for-course-id="1">
	<option data-course-id="1" value"1"> Copper </option>
	<option data-course-id="1" value"2"> Blue </option>
	<option data-course-id="1" value"3"> White </option>
	<option data-course-id="1" value"4"> Red </option>
</div>

<div class="hide" data-options-for-course-id="2">
	<option data-course-id="2" value"5"> Green </option>
	<option data-course-id="2" value"6"> Blue </option>
	<option data-course-id="2" value"7"> White </option>
	<option data-course-id="2" value"8"> Red </option>
</div>

<script>
	$('#course-selector').on("change", function(){
		selectedCourse = $(this).selected.attr("id");
		$('#tee-selector').options.each{

		}
	})
</script> -->