<h4><%= round.course.name %> scorecard </h4>

<% if round.complete? %>
  <%= "Round completed!" %>
<% end %>

<table>
  <thead>
    <tr>
      <th width="150">Hole</th>
        <% round.holes.each do |hole| %>
          <th width="10"><%= hole.hole_number %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Score</td>
        <% round.scores.each do |score| %>
          <td> <%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %> </td>
        <% end %> 
    </tr>
    
    <tr>
      <td>Tee: <%= round.tee.colour.capitalize %> </td>
      <% round.scores.each do |score| %>
        <td> <%= score.get_yards %> </td>
      <% end %>
    </tr>

    <tr>
      <td>Handicap: <%= round.player.gender.capitalize %></td>
      <% round.holes.each do |hole| %>
        <td> <%= hole.handicap_rating %></td>
      <% end %>
    </tr>
    <tr>
      <td>Par</td>
      <% round.holes.each do |hole| %>
        <td><%= hole.par %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= link_to "Back to Profile", player_path(current_user) %>