<p>Welcome to your new round </p>

<!-- Show the scorecard

Course
Holes 1 - 18
Yardages 1 - 18
Par 1 - 18
Men's Handicap 1 - 18
Women's Handicap 1 - 18

 -->
<%= @round[:course_id] %>
<%= @round[:round_length] %>
<%= @round[:player_id]%>
<%= @round[:start_hole] %>

<%= @round.course[:name] %>

<% @round.scores.each do |score| %>
<%= score[:score] %>
<% end %>