<p>Welcome to your new game </p>

<!-- Show the scorecard

Course
Holes 1 - 18
Yardages 1 - 18
Par 1 - 18
Men's Handicap 1 - 18
Women's Handicap 1 - 18

 -->
<%= @round.course[:name] %>

<table>
  <thead>
    <tr>
      <th width="150">Hole</th>
        <% @round.scores.each do |score| %>
          <th width="10"><%= score.hole.hole_number %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Score</td>
        <% @round.scores.each do |score| %>
            <td>
              <% if score.score %>
                <%= score.score %> 
              <% else %>
                <p> <%= link_to "Add Score", new_player_round_score_path(@player, @round) %></p>
              <% end %>
            </td>
        <% end %> 
    </tr>
    
    <tr>
      <td>Tee: <%= @round.tee.colour.capitalize %> </td>
      <% @round.scores.each do |score| %>
        <td> <%= score.get_yards %> </td>
      <% end %>
    </tr>

    <tr>
      <td>Handicap: <%= @round.player.gender.capitalize %></td>
      <% @round.holes.each do |hole| %>
        <td> <%= hole.handicap_rating %></td>
      <% end %>
    </tr>
    <tr>
      <td>Par</td>
      <% @round.scores.each do |score| %>
        <td><%= score.hole[:par]%></td>
      <% end %>
    </tr>
  </tbody>
</table>