<% button_text ||= "Save" %>

<%= form_for(player) do |f| %>
	<%= render "shared/error_messages" %>

<div class="field">
	<div class="gender">
		<%= f.label :gender, "Male" %>
		<%= f.radio_button(:gender, "M") %>
		<%= f.label :gender, "Female" %>
		<%= f.radio_button(:gender, "F") %>
	</div>
</div>

<div class="field">
	<div class="email">
		<%= f.label :email %><br>
		<%= f.text_field :email %>	
	</div>
</div>

<div class="field">
	<div class="username">
		<%= f.label :username %><br>
		<%= f.text_field :username %>	
	</div>
</div>

<div class="field">
	<div class="password">
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</div>
</div>

<div class="field">
	<div class="password_confirmation">
		<%= f.label :password_confirmation %><br>
		<%= f.password_field :password_confirmation %>
	</div>
</div>

<div class="field">
	<div class="handicap_index">
		<%= f.label :handicap_index %><br>
		<%= f.number_field :handicap_index, in: 0..40.4, :step => 0.1 %>
	</div>
</div>

	<div class="actions"><%= f.submit button_text %></div>

<% end %>