<div class="row">

  <div class="small-12 medium-3 large-4 columns"> 
    <div class="profile-wrapper">
      <div class="profile_pic">
        <% if @player.avatar_url.nil? %>
          <%= link_to "Add a Profile Image!", edit_player_path(current_user) %>
        <% else %>
          <%= link_to image_tag(@player.avatar_url), edit_player_path(current_user) %>
        <% end %>
      </div>
      

      <div class="profile_links">
        <p><%= link_to "Back to Profile", player_path(@player) %> </p>
        <!-- <p><%= link_to "Update Password", { :controller => :players, :action => :edit, :player_id => current_user.id}, :remote => true %> </p> -->
      </div>
    </div>
  </div>
  

	<div class="small-12 medium-9 large-8 columns">
  	<%= render partial: "form", locals: {player: @player, button_text: "Update Profile"} %>
  </div>
</div>
