<h4> Account Info </h4>
	<p> Username: <%= @player.username %></p>
	<p> Email: <%= @player.email %> </p>
	<p> Handicap Index: <%= @player.handicap_index %> </p>
	<p> Recent Activity: </p>

<!-- Add in player info on their rounds of golf  -->
<% @player.rounds.each do |round| %>
<div class="row">
	<div class="small-12 medium-4 large-4">
		<h4> Round </h4> 
			<p> <%= round.id %> </p> 
		<h4> Course </h4>
			<p> <%= round.course.name %></p>
		<h4> Round Length </h4>
			<p> <%= round.round_length %></p>
		<h4>Total </h4>
			<p> <%= round.total %> </p>]
		<h4> Par </h4>		
			<p> <%= round.par %> </p>

	</div>
</div>
<% end %>

<h4> <%= link_to "Start a new round", new_player_round_path(@player) %> </h4>