
<div class="row">
  <div class="small-12 medium-6 large-4 columns"> 
    <div class="profile-wrapper">
      <div class="profile_pic">
        <% if @player.avatar_url.nil? %>
          <%= link_to "Add a Profile Image!", edit_player_path(current_user) %>
        <% else %>
          <%= link_to image_tag(@player.avatar_url), edit_player_path(current_user) %>
        <% end %>
      </div>
      <div class="profile-content">
          <p>Username: <%= @player.username %></p>
          <p>Email: <%= @player.email %></p> 
          <p>Handicap Index: <%= @player.handicap_index %></p>
      </div>
    

      <div class="profile_links">
        <p> <%= link_to "New Round", new_player_round_path(@player) %> </p>
        <p> <%= link_to "New Multi-Player Challenge", new_player_match_path(@player) %> </p>
      </div>
    </div>
  
    <div class='ranking-summary'>
      <table>
        <thead>
            <tr>
              <th id="legend" rowspan="2">Personal | Course</th>
              <th width="25" colspan="2"> Best </th>
              <th width="25" colspan="2"> Worst </th>
              <th width="25" colspan="2"> Average </th>
            </tr>

            <tr>
              <th width="25"> P </th>
              <th width="25"> C </th>
              <th width="15"> P </th>
              <th width="15"> C </th>
              <th width="15"> P </th>
              <th width="15"> C </th>
        </thead>
        <tbody>
          <% @course.each do |course| %>
            <% if current_user.best_score_for_player(course.id) %>
              <tr>
                  <td> <%= course.name %> </td>
                  <td> <%= current_user.best_score_for_player(course.id) %> </td>
                  <td> <%= course.course_best_score %> </td>
                  <td><%= current_user.worst_score_for_player(course.id)%> </td>
                  <td> <%= course.course_worst_score %> </td>
                  <td> <%= current_user.average_score_for_player(course.id) %></td>
                  <td> <%= course.course_average_score %> </td> 
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <p> </p>
  </div>
    <div class="small-12 medium-6 large-8 columns">
     <div class="round-summary">
          <table>
            <thead>
              <tr>
                <th width="25">Round</th>
                <th width="100">Course</th>
                <th width="25">Length</th>
                <th width="25">Score</th>
                <th width="25">Par</th>
                <th width="25">+/-</th>
                <th width="30">Updated</th>
              </tr>
            </thead>
            <tbody>
              <% @player.rounds.ordered_by_last_updated_score.each_with_index do |round, index| %>
                <tr>
                  <td> <%= link_to index + 1, player_round_path(@player, round) %> </td>
                  <td> <%= round.course.name %> </td>
                  <td> <%= round.round_length %> </td>
                  <td> <%= round.total %> </td>
                  <td> <%= round.par %> </td>
                  <td> <%= round.score_differential_sum %> </td>
                  <td> <%= round.time_update %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
</div>    