<p> Your new match: </p>

<p> Course: <%= @match.course.name %></p>
<p> Tee: <%= @match.tee.colour %> </p>

<% if @match.challenges.count < 4 %>
	<p> Add up to 4 players to your challenge </p>
	<%= form_for [@player, @match, @challenge] do |f| %>
		<%= f.label :player  %>
		<%= f.collection_select(:player_id, @players, :id, :username) %> 
		<%#= f.autocomplete_field :player, autocomplete_player_username_challenges_path %>
		<%= f.submit %>
	<% end %>
<% else %>
	<p> This match is full!</p>
<% end %>
<br>
<p> Current players in this challenge: </p>
<% if @match.challenges.count > 0 %>
	<%  @match.challenges.each do |challenge| %>
		<ul> <%= challenge.player.username %> </ul>
	<% end %>
<% end %>