<table>
  <thead>
    <tr>
      <th width="25">Hole</th>
      <th width="25">Score</th>
      <th width="25">Score</th>
      <th width="25">Score</th>
      <th width="25">Score</th>
      <th width="30">Tee:<%= @match.rounds.first.tee.colour.capitalize %> </th>
      <th width="25">Par</th>
    </tr>
  </thead>


  <tbody>
      <% @match.rounds.each do |round| %>
        <% round.scores.each do |score| %> 
      <tr>
          <td><%= score.hole.hole_number %></td>
          <td><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          
      </tr> 
      
      <% end %>
    <% end %> 
  </tbody>
</table>


<!-- <tr>
    <td><%= score.get_yards %></td>
    <td><%= score.hole.par %></td>
</tr>   -->