<table>
  <thead>
    <th width="25">Hole</th>
      <% @match.rounds.each do |round| %>
    <th width="25"><%= round.player.username %>'s Score</th>
      <% end %> 
    <th width="25">Tee: <%= @match.rounds.first.tee.colour.capitalize %></th>  
    <th width="25">Par</th>  
  </thead>

<tbody>
  <% @match.rounds.each do |round| %>
    <% round.scores.each do |score| %>
      <tr>
          <td><%= score.hole.hole_number %></td>
          <td class="score-input"><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td class="score-input"><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td class="score-input"><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td class="score-input"><%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td>
          <td><%= score.get_yards %></td>
          <td><%= score.hole.par %></td>
      </tr>
    <% end %>
  <% end %>
</tbody>
  

      
        
      
  

</table>
