<table>
  <thead>
    
      <tr>
        <% @match.course.holes.where("gender = ?", "m").each do |hole| %>
        <th><%= hole.hole_number %></th>
      </tr>
    <% end %>
  </thead>
  
  <tbody>
    <% @match.rounds.each do |round| %>
      <tr>
          <td> <%= round.player.username %> </td>
            <% round.scores.each do |score| %>
          <td> <%= best_in_place score, :score, :path => player_round_score_path(round.player, round, score), :type => :input %></td> 
          <% end %>
      </tr>   
    <% end %> 
  </tbody>
  <tbody>
      <tr>
        <td>Tee: <%= @match.rounds.first.tee.colour.capitalize %> </td>
          <% @match.rounds.first.scores.each do |score| %>
        <td> <%= score.get_yards %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Par</td>
          <% @match.rounds.first.holes.each do |hole| %>
        <td><%= hole.par %></td>
          <% end %>
      </tr> 
  </tbody>
</table>

