<p> Add up to 4 players to your challenge </p>
<%= form_for [@player, @match, @challenge] do |f| %>

<%= f.label :player  %>
<%= f.collection_select(:player_id, @players, :id, :username) %> 

<%= f.label :player  %>
<%= f.collection_select(:player_id, @players, :id, :username) %> 

<%= f.label :player  %>
<%= f.collection_select(:player_id, @players, :id, :username) %> 


<%= f.submit %>
<% end %>