<%# add navigation links to this file %>
<ul class="right">
  <li class="name"><%= link_to 'Home', root_path %></li>
  <li class="name"><%= link_to 'Help', '#' %></li>
 
 <% if signed_in? %>

  <li class="name"><%= link_to 'Users', '#' %></li>
  <li class="has-dropdown"><%= link_to 'Account', '#' %>  
  	<ul class="dropdown">
  		<li><%= link_to "Profile", current_user %></li>
  		<li><%= link_to "Settings", edit_player_path(current_user) %></li>
  		<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	</ul>    		

<% else %>

  	<li><%= link_to "Sign in", signin_path %></li>

<% end %>



