<ul class="right">
  <% if signed_in? %>
        <li class="has-dropdown"><%= link_to 'Account' %>
          <ul class="dropdown">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_player_path(current_user) %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          </ul>       
        </li>
  <% else %>
    <%= form_for(:session, url: sessions_path) do |f| %>  
      <li class="has-form">
        <div class="row collapse">  
          <div class="large-6 small-6 columns">
            <%= f.email_field :email, :placeholder => "Email", :class => "nav-input" %>
          </div>
          <div class="large-6 small-6 columns">
            <%= f.password_field :password, :placeholder => "Password",:class => "nav-input" %>
          </div>
        </div>
      </li>
      <li class="has-form">       
        <%= f.submit "Sign in", :class =>"button" %>        
      </li>
    <% end %>     
  <% end %>
</ul>